.container {
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;

  img {
    width: 120px;
    height: 120px;
  }

  svg {
    width: 17px;
  }
}

.wrapper {
  container-type: inline-size;

  @container (max-width: 355px) {
    img {
      width: auto;
      height: auto;
    }
  }

  @container (max-width: 250px) {
    .container {
      flex-direction: column;
    }
  }
}